* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(197, 194, 194);
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: rgb(31, 22, 22);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  border: none;
  font-size: 60px;
  background-color: rgb(68, 58, 58);
  text-align: right;
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgb(80, 78, 78);
  color: white;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(105, 103, 103);
}

button:active {
  background-color: rgb(162, 157, 157);
}

.operator-btn {
  background-color: rgb(241, 165, 25);
}

.operator-btn:hover {
  background-color: rgb(239, 182, 77);
}

.operator-btn:active {
  background-color: rgb(235, 193, 116);
}
